imageviewer ICON   "imageviewer.ico"

#include "wx/msw/wx.rc"

#define STRINGIFY( z ) UGLY_KLUDGE( z )
#define UGLY_KLUDGE( z ) #z

1 VERSIONINFO
FILETYPE 1
FILEOS 4
PRODUCTVERSION 1,0,0
FILEVERSION 1,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "INRIA - ASCLEPIOS Research Team"
      VALUE "FileVersion", "1.0.0"
      VALUE "FileDescription", "Image Viewer"
      VALUE "LegalCopyright", "(c) 2007 INRIA - ASCLEPIOS Research TEAM"
      VALUE "Authors", "Pierre Fillard and Nicolas Toussaint"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1200
  END
END