	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>gis</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>GIS files</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>vtk</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>VTK files</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>inr</string>
				<string>inr.gz</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Inrimage</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleTypeName</key>
			<string>ITK files</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>nii</string>
				<string>nii.gz</string>
				<string>nrrd</string>
				<string>nhdr</string>
				<string>mha</string>
				<string>hdr</string>
			</array>
			<key>LSHandlerRank</key>
			<string>Default</string>
		</dict>
	</array>
</dict>
</plist>
