<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!-- Avoid macOS security pop-ups with read/write -->
	<key>com.apple.security.files.user-selected.read-write</key>
	<true/>

	<!-- Allow access to Download, Documents and Desktop -->
	<key>com.apple.security.files.downloads.read-write</key>
	<true/>
	<key>com.apple.security.files.documents.read-write</key>
	<true/>
	<key>com.apple.security.files.desktop.read-write</key>
	<true/>

	<!-- Various parameters to avoid security problem on macOS with non signed libs etc -->
	<key>com.apple.security.cs.disable-library-validation</key>
	<true/>
	<key>com.apple.security.cs.allow-jit</key>
	<true/>
	<key>com.apple.security.cs.allow-unsigned-executable-memory</key>
	<true/>
</dict>
</plist>
