[DEFAULT]

[projects]
#only compile our projects, no third party
#also adds medInria-data for medInria-plugins tests.
projects=TCLAP,asclepiospublic,dtk,medInria,vtkinria3d-public,ttk-public,medInria-data,qtdcm,medInria-plugins

[cmake-common]
#add ctest variables, shared by all projects
DTK_CTEST_DROP_SITE:STRING=cdash.inria.fr
DTK_CTEST_UPDATE_COMMAND:STRING= 
DTK_CTEST_UPDATE_TYPE:STRING= 
BUILD_REPORTING:BOOL=ON

[dtk-cmake]
#adds the addres of the dtk dashboard
DTK_CTEST_DROP_SITE:STRING=dtk.inria.fr

[medInria-cmake]
#uses the inria dashboards for medInria
DTK_CTEST_DROP_LOCATION:STRING=/CDash/submit.php?project=MedINRIA

[medInria-plugins-cmake]
DTK_CTEST_DROP_LOCATION:STRING=/CDash/submit.php?project=medInria-plugins
#repository needed for tests
MEDINRIA_TEST_DATA_ROOT:PATH=%(projects_dir)s/medInria-data

[vtkinria3d-public]
test=1
#ctest already builds, do not build twice
build=0

[dtk]
#ctest already builds, do not build twice
build=0
test=1

[medInria]
test=1
#ctest already builds, do not build twice
build=0

[medInria-plugins]
test=1
#ctest already builds, do not build twice
build=0


