#see run_nightly_linux.cfg for comments on ctests
[projects]
#still need all the projects to be installed, 
#they are needed for the installer
#TCLAP is only template files, no installation needed
projects=asclepiospublic,dtk,itk,vtk,vtkinria3d-public,medInria,ttk-public,medInria-data,qtdcm,medInria-plugins,medInria-installer

[itk]
#only install third parties
create_dirs=0
update_dirs=0
configure=0
update=0
build=0
install=1
package=0

[vtk]
create_dirs=0
update_dirs=0
configure=0
update=0
build=0
install=1
package=0


[cmake-common]
DTK_CTEST_DROP_SITE:STRING=cdash.inria.fr
DTK_CTEST_UPDATE_COMMAND:STRING= 
DTK_CTEST_UPDATE_TYPE:STRING= 
BUILD_REPORTING:BOOL=ON

[dtk-cmake]
DTK_CTEST_DROP_SITE:STRING=dtk.inria.fr

[medInria-cmake]
DTK_CTEST_DROP_LOCATION:STRING=/CDash/submit.php?project=MedINRIA

[medInria-plugins-cmake]
DTK_CTEST_DROP_LOCATION:STRING=/CDash/submit.php?project=medInria-plugins
MEDINRIA_TEST_DATA_ROOT:PATH=%(projects_dir)s/medInria-data

[vtkinria3d-public]
test=1
#ctest already builds, do not build twice
build=0

[dtk]
#ctest already builds, do not build twice
build=0
test=1

[medInria]
test=1
#ctest already builds, do not build twice
build=0

[medInria-plugins]
test=1
#ctest already builds, do not build twice
build=0


