[DEFAULT]
package_dir=/data/installers/ubuntu/

[package_deps]
package_manager=apt
deps=git-core wget qt-sdk swig python python-dev tcl tcl-dev tk tk-dev libedit-dev openssl libssl-dev libopenmpi-dev nvidia-settings libwrap0-dev libtiff-dev
#libqt4-opengl-dev
#additional packages if compiling qt
#apt-get install libglib2.0-dev libSM-dev libxrender-dev 
#libfontconfig1-dev libxext-dev libgl-dev libglu-dev

[cmake-common]
CPACK_BINARY_DEB:BOOL=ON
CPACK_BINARY_RPM:BOOL=OFF
#removed non-ascii chars as it doesn't work
CPACK_DEBIAN_PACKAGE_MAINTAINER:STRING="Benoit Bleuze"

[metapackage-cmake]
CPACK_BINARY_DEB:BOOL=ON

